In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [1]:
#Create Producer instance
producer = KafkaProducer(bootstrap_servers=['ec2-13-235-49-112.ap-south-1.compute.amazonaws.com:9092'],
                         value_serializer=lambda x: dumps(x).encode('utf-8'))

NameError: name 'KafkaProducer' is not defined

In [4]:
#Read data
df = pd.read_csv("indexProcessed.csv")

In [5]:
#Show data
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,31-12-1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0,333.879006
1,HSI,02-01-1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0,330.213013
2,HSI,05-01-1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0,331.811987
3,HSI,06-01-1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0,335.906987
4,HSI,07-01-1987,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0,338.923013

In [2]:
#Send data with Producer
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('stock-market-kafka', value=dict_stock)
    sleep(20)

NameError: name 'df' is not defined

In [ ]:
#Ensure all messages in internal buffer are sent to server and closed
producer.flush()